# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Gradle (se você usar)
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IDEs
### IntelliJ IDEA ###
.idea/
*.iml
*.ipr

### Eclipse / Spring Tool Suite (STS) ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
